.btn {
  position: relative;
  padding: 8px 20px;
  background-color: var(--bgc-two);
  color: var(--default-c);
  font-weight: 300;
  cursor: pointer;
  overflow: hidden;

  &::before {
    content: "";
    position: absolute;
    background-color: var(--bgc-one);
    padding: 50%;
    border-radius: 50%;
    top: calc(100% * var(--rippleY));
    left: calc(100% * var(--rippleX));
    opacity: 0;
    transform: translate(-50%, -50%) scale(1);
    transition: transform .75s, opacity .75s linear;
  }
  &:active::before {
    transition: 0s;
    opacity: 1;
    transform: translate(-50%, -50%) scale(0);
  }
}
