:root {
  --default-c: #fff;
  --base: #dcdfe6;
  --light: #e4e7ed;
  --lighter: #ebeef5;
  --lightex: #f2f6fc;

  --border-hover: #BBC1E1;
  --border-active: #1E2235;

  // -------------------------------

  --neutral-main: #232425;
  --neutral-primary: #303133;
  --neutral-regular: #606266;
  --neutral-secondary: #909399;
  --neutral-placeholder: #c0c4cc;


  // scheme *1

  --bgc-one: #16191a;
  --bgc-two: #2b3030; // header
  --bgc-three: #686358; // button && border
  --bgc-four: #cec4a5; // section 
  --bgc-five: #ecd0c0;

  // -------------------------------
  --bgc-extra: #e0d2ae;
  --bgc-extra-2: #b9baac;

  --some-one: #f8b83f;
  --some-two: #da2f0e;
  --some-tree: #545d31;
}